*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   font-family: Verdana, sans-serif;
     background-image: linear-gradient(#000000, #06091e);
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
.nav{
  flex: 1;
  text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: #555;
}
p{
  color: #555;
}
.sort{
  margin: 20px 0 0 20px;
}
.sort span{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}



.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 5px;
  padding-right: 10px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
  overflow: hidden;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h2{
  font-size: 40px;
  line-height: 60px;
  margin: 25px 0;
}
.row1{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 350px;
  margin-right: 250px;
  margin-top: 50px;
}

.btn{
  display: inline-block;
  padding: 8px 30px;
  background: red;
  color: white;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover{
  background: black;
  color: #FFF8DC;
}
.buttonn{
  display: inline-block;
  padding: 8px 30px;
  background: #F4A460;
  color: black;
  margin: 50px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.buttonn:hover{
  background: black;
  color: #FFF8DC;
}

.button-57 {
  padding-left: 20px;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: white;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
   background: -webkit-linear-gradient(45deg, rgb(44, 6, 58) 7%, rgb(0, 46, 97) 71%, rgb(6, 7, 0));
  background: -moz-linear-gradient(45deg, rgb(44, 6, 58) 7%, rgb(0, 46, 97) 71%, rgb(6, 7, 0));
  background: linear-gradient(45deg, rgb(44, 6, 58) 7%, rgb(0, 46, 97) 71%, rgb(6, 7, 0));
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  align-items: center;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.header{
  background: -webkit-linear-gradient(45deg, rgb(44, 6, 58) 7%, rgb(0, 46, 97) 71%, rgb(6, 7, 0));
  background: -moz-linear-gradient(45deg, rgb(44, 6, 58) 7%, rgb(0, 46, 97) 71%, rgb(6, 7, 0));
  background: linear-gradient(45deg, rgb(44, 6, 58) 7%, rgb(0, 46, 97) 71%, rgb(6, 7, 0));
}
.header .row{
  margin-top: 20px;
}
.header1{
  background: -webkit-linear-gradient(45deg, rgb(44, 6, 58) 7%, rgb(0, 46, 97) 71%, rgb(6, 7, 0));
  background: -moz-linear-gradient(45deg, rgb(44, 6, 58) 7%, rgb(0, 46, 97) 71%, rgb(6, 7, 0));
  background: linear-gradient(45deg, rgb(44, 6, 58) 7%, rgb(0, 46, 97) 71%, rgb(6, 7, 0));
}
.header1 .row1{
  margin-top: 70px;
  margin-bottom: 70px;
}
.categories{
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  transition: transform 0.5s;
}
.col-3 img{
  width: 100%
}
.col-3:hover{
  transform: translateY(-5px);
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.categories1{
  margin: 70px 0;
}
.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.1s;
}
.col-4 img{
  width: 100%;
}
.col-4:hover{
  transform: translateY(-1px);
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  color: black;
}
.title::after{
  content: '';
  background: #F4A460;
  width: 160px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left:50%;
  transform: translateX(-50%);
}
.title1{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  color: black;
}
.title1::after{
  content: '';
  background: #F4A460;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left:50%;
  transform: translateX(-50%);
}
.title2{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  color: white;
}
.title2::after{
  content: '';
  background: #F4A460;
  width: 350px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left:50%;
  transform: translateX(-50%);
}
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}

@media only screen and (max-width: 800px){
  nav ul{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100px;
    background: #333;
    overflow: hidden;
    transition: maxheight 0.5s;
  }
  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #fff;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px){
  .row{
    text-align: center;
  }
  .col-2, .col-3, .col-4{
    flex-basis: 100%;
  }
}

.greeting-container{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #F4A460;
  width: 30%;
  padding: 0 32px;
  z-index: 1000;
  margin-left: 1100px;
  background: linear-gradient(0deg, #000, #262626);

  transition: 400ms;
}
.greeting-container::before
{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% 4px);
  height: calc(100% 4px);
  z-index: 500px;
}
